* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    /* zoom: 100%; */
    background: rgb(63,81,177);
    background: radial-gradient(circle, rgba(63,81,177,1) 0%, rgba(101,60,184,0.9864320728291317) 100%);
    font-size: 3.6rem;

    display: grid;
    place-items: center;
    height: 160vh;

    font-family: "DM sans", sans-serif;
}


h1{
    color: white;
}

h4{
    font-size: 2.2rem;
    font-weight: bold; 
}

.first > p{
    color: #F0FFFF;
    font-size: 1.4rem;
}

.tech > a {
    padding-right: 15px;
}

.sobre > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.sobre {
    display: flex;
    max-width: 600px;
    align-items: center;
    padding: 20px 0 20px 0px;
}

.sobre > p {
    color: #F0FFFF;
    font-size: 1.6rem;
}

.btn {
    padding: 15px;
    border-radius: 5%;
    cursor: pointer;
}

.icons > a {
    margin-right: 10px;
    cursor: pointer;
}

@media only screen
    and (max-device-width: 480px) 
    and (min-device-width: 320px) {


    main {
        display: flex;
        text-align: start;
        align-items: center;
    }

    h1 {
        font-size: 4.2rem; 
    }

    h4 {
        font-size: 2.1rem;
    }

    p {
        font-size:1.0rem;
    }
}