* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
    user-select: none;
}

.btn {
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    background: #FCDE47;
    background: linear-gradient(0deg, #FCDE47, #FF7401);
    color: white;
    font-weight: bolder;
}

body {
    font-size: 3.4rem;
    font-family: "DM sans", sans-serif;
    zoom: 100%;
}

h1 {
    color: white;
}

h4 {
    font-size: 3.4rem;
    font-weight: bold;
    text-align: center;
}

:root {
    font-size: 62.5%;
}

.main {
    background: #5000ca;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.desc-p {
    color: #F0FFFF;
    font-size: 1.4rem;
    padding-top: 40px;
    text-align: center;
}

.desc-p > p {
    margin: 0 40px 0 40px;
}

.social-icons {
    margin: 40px 0 0 0;
}

.social-icons a {
    text-decoration: none;
}

.cv {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

.cv button {
    cursor: pointer;
}

.social-icons #sicon,
path {
    cursor: pointer;
}

.sobremim {
    background: #5000ca;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.sobremim>p {
    padding: 20px 40px 0px 40px;
    color: rgb(220, 220, 220);
    font-size: 1.7rem;
    max-width: 500px;
    text-align: center;
}

.sobremim>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white; /* Added white border */
}

#social-icon {
    width: 50px;
}
/* waves */

.wave-top {
    display: block; 
    line-height: 0; 
    margin-top: -1px;
}

.wave-bottom {
    display: block; 
    line-height: 0; 
    margin-bottom: -2px;
}

.projects {
    margin-bottom: 100px;
}

/* carousel */

.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease;
}

.carousel-slide img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5%;
}

/* new */

.slide-tech {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.slide {
    width: 150px;
    height: 100px;
    gap: 20px;
}

.slider {
    margin-bottom: 40px;
}

@media (max-width: 600px) {

    h4 {
        font-size: 2.6rem;
        font-weight: bold;
        text-align: center;
    }

    h1 {
        font-size: 3.6rem;
    }

    .iam {
        font-size: 1.4rem;
        text-align: center;
    }

    .desc-p {
        padding-top: 40px;
        font-size: 1rem;
    }

    .sobremim {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }

    .sobremim>p {
        display: flex;
        text-align: center;
        padding: 0;
        margin: 40px;
        justify-content: center;
        max-width: 500px;
    }

    .projects {
        margin-top: 80px;
    }

    .slide-tech {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .slide {
        width: 80px;
        height: auto;
    }
}
