* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    background: rgb(63,81,177);
    background: radial-gradient(circle, rgba(63,81,177,1) 0%, rgba(101,60,184,0.9864320728291317) 100%);
    font-size: 3.6rem;

    display: grid;
    place-items: center;
    height: 140vh;

    font-family: "DM sans", sans-serif;
    zoom: 140%;
}


h1{
    color: white;
}

h4{
    font-size: 2.2rem;
    font-weight: bold; 
    color: white;
    padding: 80px 0px 20px 0px;
}

button {
    padding: 15px;
    border-radius: 10%;
    cursor: pointer;
}

.iam > p {
    color: #F0FFFF;
    font-size: 1.4rem;
}

.sobremim > p {
    color: #F0FFFF;
    font-size: 1.4rem;
    padding-left: 20px;
}

.tech-icons > a {
    margin: 0px 20px 0px 0px;
}

.cv {
    padding: 60px 0px 0px 0px; 
    display: flex; 
    /* justify-content: center; */
}

.sobremim > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.sobremim {
    display: flex;
    max-width: 600px;
    align-items: center;
    padding: 80px 0 20px 0px;
}

.social-icons {
    margin: 20px 0px 0px 0px;
}

.social-icons a {
    text-decoration: none;
}

#ticon {
    width: 100px;
    height: 100px;
}

#sicon {
    width: 50px;
}

@media (max-width: 600px) {
    
 }
